.about{
 margin-top: .7rem;
 color: var(--color-grey-light-4);
 display: flex;
 flex:0 0 64%;
 justify-content: space-around;
 position: relative;
 font-family: roboto;

 &-img{
  width: 20rem;
  height: 20rem;

  &__self{
   margin-top: 1.4rem;
   display: block;
   width: 20rem;
   padding: .9rem;
   border-radius: 15rem;
   
  }
 }

 &-story{
  //padding: 0 3rem ;

  &__heading{
   text-transform: uppercase;
   color: var(--color-black);
   font-size: 2.2rem;
   margin-bottom: 1.6rem;
  }

  &__paragraph{
   line-height: 1.7;
   font-size: 1.8rem;
   font-weight: 300;
   //text-align: justify;
   
   

  }

 }
}
